
body {
	background-color: darkslateblue;
}



h1{
	color:red;
	font-size: 30px;
	font-family: 'PT Serif', serif;
}

h2{
	color:blue;
	font-size: 30px;
	font-family: 'PT Serif', serif;
}


